<nav id="navbar">
    <div id="logo">
        <img src="/assets/Img/logo.png" alt="www.vfx.com">
    </div>
    <ul>
        <li class="item"><a (click)="Home()">Home</a></li>
        <li class="item"><a (click)="Services()">Services</a></li>
        <li class="item"><a (click)="AboutUs()">About Us</a></li>
        <li class="item"><a (click)="ContactUs()">Contact Us</a></li>
    </ul>

</nav>

<section id="Home">
    <h1 class="h1-primary">Welcome About Us</h1>
   
    <h5 class="h2-primary">VFX World studios is the best choice the those who are looking for creative and Talented services. Our talents have a solide backgroung on major productions at its fullest in perfection.  </h5>
    
</section>



